name: Test the Terraform product module

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      product:
        required: true
        type: string
      runner:
        type: string
        default: ubuntu-latest

jobs:
  install-deps-gh-runner:
    name: Install dependencies (GH runner)
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Install dependencies (GH runners)
        if: ${{ inputs.runner == 'ubuntu-latest' }}
        run: |
          sudo snap install concierge --classic
          # TODO: Find out what the snaps deploy from?
          sudo concierge prepare --juju-channel 3.6/stable -p k8s --extra-snaps just,astral-uv,terraform
  install-deps-self-hosted-runner:
    name: Install dependencies (Self-hosted runner)
    if: ${{ inputs.runner != 'ubuntu-latest' }}
    uses: canonical/observability-stack/.github/workflows/_setup_self_hosted_runner.yml@feat/self-hosted-runner-ci # TODO: Fix branch
    with:
      runner: ${{ inputs.runner }}
  setup-microceph:
    name: Install and configure microceph
    if: ${{ inputs.product == 'cos' }}
    uses: canonical/observability-stack/.github/workflows/_setup_microceph.yml@feat/self-hosted-runner-ci # TODO: Fix branch
    with:
      runner: ${{ inputs.runner }}
  terraform-test:
    name: Test deployment
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          # TODO: Add these as env-vars
          export S3_ENDPOINT=http://$(ip -4 -j route get 2.2.2.2 | jq -r '.[] | .prefsrc'):8080
          export S3_ACCESS_KEY=access-key
          export S3_SECRET_KEY=secret-key
          just integration ${{ inputs.product }}/${{ matrix.scenario }}
