name: Test the Terraform product module

on:
  workflow_dispatch:
    inputs:
      product:
        description: 'The name of the Terraform product module to test.'
        required: true
        type: choice
        default: cos
        options:
        - cos
        - cos_lite
      runner:
        description: 'The runner label to use for the job.'
        type: choice
        default: ubuntu-latest
        options:
        - ubuntu-latest
        - self-hosted-linux-amd64-noble-large
        - self-hosted-linux-amd64-noble-xlarge
        - self-hosted-linux-amd64-noble-2xlarge
  workflow_call:
    inputs:
      product:
        required: true
        type: string
      runner:
        type: string
        default: ubuntu-latest

jobs:
  terraform-test:
    name: Test product module
    runs-on: ${{ inputs.runner }}
    strategy:
      fail-fast: false
      matrix:
        scenario: ["tls_full", "tls_external", "tls_internal", "tls_none"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo snap install concierge --classic
          sudo concierge prepare --juju-channel 3.6/stable -p microk8s --extra-snaps just,astral-uv,terraform
      - name: Test deployment
        run: |
          just integration ${{ inputs.product }}/${{ matrix.scenario }}
